{% extends 'AppBundle::base.html.twig' %}

{% block content %}

    <div class="container" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

        <div class="box drafts-list" id="drafts-list">
            <div class="box-header">
                <h2>
                    Drafts for "{{ thesis.title }}"
                </h2>
            </div>
            <div class="box-body">
                <div class="clearfix theses-list--panel">
                    <a href="{{ url('app_thesis_get', { thesis: thesis.id }) }}" class="btn btn-primary">
                        <span class="fa fa-arrow-left"></span> Back
                    </a>
                    {% if is_granted('ROLE_STUDENT') and is_granted('VIEW_DRAFTS', thesis) %}
                    <span style="display: inline-block;" {% if not is_granted('UPLOAD_DRAFT', thesis) %}data-toggle="tooltip" title="You can’t upload a new draft yet. Wait until {{ nextUpload | date }}!"{% endif %}>
                        <a href="{{ url('app_thesis_draft_add', { thesis: thesis.id }) }}"
                           class="btn btn-primary {% if not is_granted('UPLOAD_DRAFT', thesis) %}disabled{% endif %}">
                        <span class="fa fa-upload"></span> Upload Draft
                    </a>
                    </span>
                    {% endif %}
                </div><!-- /theses-list--panel -->

                <div class="row">
                    <div class="col-md-8 offset-md-2">

                        {% if app.request.get('upload_success', 0) == 1 %}
                        <div class="alert alert-success mg-top" role="alert">
                            <strong>Well done!</strong> You successfully uploaded a new draft.
                        </div>
                        {% endif %}
                        {% if app.request.get('feedback_added', 0) == 1 %}
                        <div class="alert alert-success mg-top" role="alert">
                            <strong>Well done!</strong> You successfully added a feedback.
                        </div>
                        {% endif %}

                        {% for draft in drafts %}
                            {% include '@App/thesis/drafts/_draft.html.twig' %}
                        {% else %}
                            <div class="center mg-top" style="font-style: italic">No drafts...</div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </div> <!-- /container -->

{% endblock %}
