{% extends 'AppBundle::base.html.twig' %}

{% block content %}

    <div class="container" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

        <div class="box drafts-list" id="drafts-list">
            <div class="box-header">
                <h2>
                    Drafts for "{{ thesis.title }}"
                </h2>
            </div>
            <div class="box-body">
                <div class="clearfix theses-list--panel">
                    <a href="{{ url('app_thesis_get', { thesis: thesis.id }) }}" class="btn btn-primary">
                        <span class="fa fa-arrow-left"></span> Back
                    </a>
                    {% if thesis.students.contains(app.user) %}
                    <span {% if not app.user.canUploadDraft(thesis) %}data-toggle="tooltip" title="You can’t upload a new draft yet. Wait until {{ nextUpload | date }}!"{% endif %}>
                        <a href="{{ url('app_thesis_draft_add', { thesis: thesis.id }) }}"
                           class="btn btn-primary {% if not app.user.canUploadDraft(thesis) %}disabled{% endif %}">
                        <span class="fa fa-upload"></span> Upload Draft
                    </a>
                    </span>
                    {% endif %}
                </div><!-- /theses-list--panel -->

                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        {% for draft in drafts %}
                            {% include '@App/thesis_drafts/_draft.html.twig' %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </div> <!-- /container -->

{% endblock %}
